In [1]:
import pandas as pd

In [5]:
stations = pd.read_csv("NYC_Transit_Subway_Entrance_And_Exit_Data.csv")
stations.head()

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"(40.660397, -73.998091)","(40.660489, -73.99822)"
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"(40.660397, -73.998091)","(40.660323, -73.997952)"
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"(40.655144, -74.003549)","(40.654676, -74.004306)"
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"(40.655144, -74.003549)","(40.654365, -74.004113)"
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"(40.655144, -74.003549)","(40.65449, -74.004499)"

In [6]:
stations.columns

Index(['Division', 'Line', 'Station Name', 'Station Latitude',
       'Station Longitude', 'Route1', 'Route2', 'Route3', 'Route4', 'Route5',
       'Route6', 'Route7', 'Route8', 'Route9', 'Route10', 'Route11',
       'Entrance Type', 'Entry', 'Exit Only', 'Vending', 'Staffing',
       'Staff Hours', 'ADA', 'ADA Notes', 'Free Crossover',
       'North South Street', 'East West Street', 'Corner', 'Entrance Latitude',
       'Entrance Longitude', 'Station Location', 'Entrance Location'],
      dtype='object')

In [48]:
stations.drop(stations.columns[5:], axis = 1, inplace=True)
stations.head()

   Division      Line Station Name  Station Latitude  Station Longitude
0       BMT  4 Avenue      25th St         40.660397         -73.998091
2       BMT  4 Avenue      36th St         40.655144         -74.003549
5       BMT  4 Avenue      45th St         40.648939         -74.010006
9       BMT  4 Avenue      53rd St         40.645069         -74.014034
14      BMT  4 Avenue      59th St         40.641362         -74.017881

In [47]:
stations.groupby('Station Name').count()

,Division,Line,Station Latitude,Station Longitude
Station Name,,,,
103rd St,4,4,4,4
104th St-102nd St,1,1,1,1
104th St-Oxford Av,1,1,1,1
110th St,1,1,1,1
110th St-Central Park North,1,1,1,1
...,...,...,...,...
Woodside Av-61st St,1,1,1,1
World Trade Center,1,1,1,1
Yankee Stadium-161st St,2,2,2,2
York St,1,1,1,1
Zerega Av,1,1,1,1

In [15]:
#why does Yankee Stadium 161st St have 16 different entries?
mask = stations['Station Name'] == 'Yankee Stadium-161st St'
stations[mask]

,Division,Line,Station Name,Station Latitude,Station Longitude
819,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
820,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
821,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
822,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
823,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
824,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
825,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
826,IND,Concourse,Yankee Stadium-161st St,40.827905,-73.925651
1531,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1532,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1533,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1534,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1535,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1536,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1537,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831
1538,IRT,Jerome,Yankee Stadium-161st St,40.827994,-73.925831

In [74]:
stations.drop_duplicates(inplace=True)
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475 entries, 0 to 1865
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Division           475 non-null    object
 1   Line               475 non-null    object
 2   Station Name       475 non-null    object
 3   Station Latitude   475 non-null    float64
 4   Station Longitude  475 non-null    float64
dtypes: float64(2), object(3)
memory usage: 22.3+ KB

In [75]:
df_stations = stations.groupby('Station Name').mean().reset_index()
df_stations = df_stations.round(6)  
df_stations.head()

                  Station Name  Station Latitude  Station Longitude
0                     103rd St         40.784001         -73.935003
1            104th St-102nd St         40.695178         -73.844330
2           104th St-Oxford Av         40.681711         -73.837683
3                     110th St         40.795020         -73.944250
4  110th St-Central Park North         40.799075         -73.951822

In [76]:
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Station Name       356 non-null    object
 1   Station Latitude   356 non-null    float64
 2   Station Longitude  356 non-null    float64
dtypes: float64(2), object(1)
memory usage: 8.5+ KB

In [52]:
df_stations.columns

Index(['Station Name', 'Station Latitude', 'Station Longitude'], dtype='object')

In [81]:
# to_replace = ['rd', 'th', 'nd','st','']
# df_stations['Station Name'] = df_stations['Station Name'].replace(to_replace,'')
df_stations['Station Name'] = df_stations['Station Name'].str.replace('th','')
df_stations['Station Name'] = df_stations['Station Name'].str.replace('nd','')
df_stations['Station Name'] = df_stations['Station Name'].str.replace('rd','')
df_stations['Station Name'] = df_stations['Station Name'].str.replace('st','')
df_stations = df_stations.sort_values('Station Name').reset_index()
df_stations.head(50)

    index                 Station Name  Station Latitude  Station Longitude
0      39                         1 Av         40.730953         -73.981628
1       0                       103 St         40.784001         -73.935003
2       1                104 St-102 St         40.695178         -73.844330
3       2               104 St-Oxfo Av         40.681711         -73.837683
4       3                       110 St         40.795020         -73.944250
5       4      110 St-Central Park Nor         40.799075         -73.951822
6       5                       111 St         40.724574         -73.845840
7       6          111 St-Greenwood Av         40.684331         -73.832163
8       7                       116 St         40.801937         -73.948708
9       8   116 St-Columbia University         40.807722         -73.964110
10      9                       121 St         40.700492         -73.828294
11     10                       125 St         40.809646         -73.948451
12     11                       135 St         40.816062         -73.944210
13     12          137 St-City College         40.822008         -73.953676
14     13                       138 St         40.813224         -73.929849
15     14                 138 St-3 Ave         40.810476         -73.926138
16     18                        14 St         40.738982         -73.999367
17     19           14 St-Union Square         40.734673         -73.989951
18     15                       145 St         40.823918         -73.943607
19     16                  149 St-3 Av         40.816109         -73.917757
20     17         149 St-Gra Concourse         40.818375         -73.927351
21     20                       155 St         40.830326         -73.939862
22     21                       157 St         40.834041         -73.944890
23     22            163 St - Ameam Av         40.836013         -73.939892
24     23                       167 St         40.834653         -73.919916
25     24                       168 St         40.840556         -73.940133
26     25  168 St - Washington Heights         40.840719         -73.939561
27     26                       169 St         40.710470         -73.793604
28     27                       170 St         40.839690         -73.915596
29     29                       174 St         40.837288         -73.887734
30     28                  174-175 Sts         40.845900         -73.910136
31     30                       175 St         40.847391         -73.939704
32     31                       176 St         40.848480         -73.911794
33     35                        18 Av         40.619460         -73.989707
34     36                        18 St         40.741040         -73.997871
35     32                       181 St         40.850600         -73.935782
36     33                  182-183 Sts         40.856093         -73.900741
37     34                       183 St         40.858407         -73.903879
38     37                       190 St         40.859022         -73.934180
39     38                       191 St         40.855225         -73.929412
40     55                         2 Av         40.723402         -73.989938
41     41                        20 Av         40.610983         -73.991597
42     40                       207 St         40.864614         -73.918819
43     44                        21 St         40.749134         -73.946280
44     42                       215 St         40.869444         -73.915279
45     43                       219 St         40.883895         -73.862633
46     45                       225 St         40.888022         -73.860341
47     50                        23 St         40.742806         -73.992492
48     51                 23 St-Ely Av         40.747846         -73.946000
49     46                       231 St         40.878856         -73.904834

In [82]:
df_stations.iloc[50:100]

,index,Station Name,Station Latitude,Station Longitude
50,47,233 St,40.893193,-73.857473
51,48,238 St,40.884667,-73.900870
52,49,238 St-Nereid Av,40.898379,-73.854376
53,52,25 Av,40.597704,-73.986829
54,53,25 St,40.660397,-73.998091
55,54,28 St,40.745260,-73.988773
56,63,3 Av,40.732849,-73.986122
57,56,30 Av-Gra Av,40.766779,-73.921479
58,57,33 St,40.746081,-73.982076
59,59,34 St,40.750486,-73.990055
60,58,34 St Hudson Yas,40.755882,-74.001910
61,60,36 Av-Washington Av,40.756804,-73.929575
62,61,36 St,40.703592,-73.966165
63,62,39 Av-Beebe Av,40.752882,-73.932755
64,70,4 Av,40.670272,-73.989779
65,64,42 St,40.755765,-73.987152
66,65,45 Rd-Court House Sq,40.747023,-73.945264
67,66,45 St,40.648939,-74.010006
68,67,46 St,40.756312,-73.913333
69,68,47-50 Sts Rockefeller Center,40.758663,-73.981329
70,69,49 St,40.759901,-73.984139
71,78,5 Av,40.759316,-73.977655
72,79,5 Av-53 St,40.760167,-73.975224
73,71,50 St,40.720148,-73.988208
74,72,51 St,40.757107,-73.971920
75,73,53 St,40.645069,-74.014034
76,74,55 St,40.631435,-73.995476
77,75,57 St,40.764318,-73.979054
78,76,59 St,40.724061,-73.989195
79,77,59 St-Columbus Circle,40.768247,-73.981929
80,86,6 Av,40.737335,-73.996786
81,80,62 St,40.626472,-73.996895
82,81,63 Drive-Rego Park,40.729846,-73.861604
83,82,65 St,40.749669,-73.898453
84,83,66 St-Lincoln Center,40.773440,-73.982209
85,84,67 Av,40.726523,-73.852719
86,85,68 St-Hunter College,40.768141,-73.963870
87,92,7 Av,40.702061,-73.978103
88,87,71 St,40.619589,-73.998864
89,88,72 St,40.777024,-73.979190
90,89,75 Av,40.718331,-73.837324
91,90,77 St,40.701681,-73.992692
92,91,79 St,40.698718,-73.990264
93,98,8 Av,40.687420,-74.007148
94,99,8 St,40.730328,-73.992629
95,93,80 St-Hudson St,40.679371,-73.858992
96,94,81 St - Museum of Natural Hiory,40.781433,-73.972143
97,95,82 St-Jackson Heights,40.747659,-73.883697
98,96,86 St,40.713882,-73.981470
99,97,88 St-Boyd Av,40.679843,-73.851470

In [71]:
((df_stations.groupby('Station Name').count() > 1) == True).count()

Station Latitude     356
Station Longitude    356
dtype: int64

In [72]:
df_stations.to_csv('station_list.csv')